* {
  margin: 0;
}
body {
  transition: all 0.5s ease-in-out;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  background-color: #000;
  color: #fff;
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 37% 40%,
      hsla(180, 70%, 13%, 0.6) 0px,
      transparent 50%
    ),
    radial-gradient(at 72% 70%, hsla(260, 78%, 16%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 94%, hsla(342, 0%, 0%, 1) 0px, transparent 50%);
  height: fit-content;
}
.dark-theme {
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.light-theme {
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-in-out;
}
