* {
  margin: 0;
}
body {
  transition: all 0.5s ease-in-out;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  color: #fff;
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 37% 54%,
      hsla(28, 100%, 19%, 0.18) 0px,
      transparent 50%
    ),
    radial-gradient(at 91% 100%, hsla(360, 90%, 10%, 0.38) 0px, transparent 50%);

  min-height: 100vh;
}

.form {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 30% 71%,
      hsla(28, 100%, 19%, 0) 0px,
      transparent 50%
    ),
    radial-gradient(at 91% 100%, hsla(360, 90%, 10%, 0.38) 0px, transparent 50%);
}

.edit-modal {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 30% 71%,
      hsla(28, 100%, 19%, 0) 0px,
      transparent 50%
    ),
    radial-gradient(at 91% 100%, hsla(360, 90%, 10%, 0.38) 0px, transparent 50%);
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #00000003;
  box-sizing: border-box;
  background: radial-gradient(farthest-side at right, #fff 98%, #0000) 20% 50%/40%
      80%,
    radial-gradient(farthest-side at left, #fff 98%, #0000) 80% 50%/40% 80%,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l18 0.8s infinite alternate;
}
@keyframes l18 {
  0%,
  20% {
    background-position: 20% 50%, 80% 50%;
  }
  100% {
    background-position: 80% 50%, 20% 50%;
  }
}
